body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: .25em;
  font-weight: 700;
}

.nav-link:hover {
  color: #B0B2B6;
  /* border-bottom: 1px solid #030327; */
  cursor: pointer;
}

.nav-primary {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  position: relative;
}

.nav-preauth {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  position: relative;
}

.auth-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.devs {
  text-align: center;
}

.meet-devs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-img {
  width: 65px;
  height: 49px;
}
