body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(43,197,184);
  background: linear-gradient(100deg, rgba(43,197,184,1) 0%, rgba(255,255,255,0.2511379551820728) 50%, rgba(43,197,184,1) 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: .25em;
  font-weight: 700;
}

.nav-link:hover {
  color: #B0B2B6;
  /* border-bottom: 1px solid #030327; */
  cursor: pointer;
}

.nav-primary {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  position: relative;
  padding-right: 30px;
}

.nav-preauth {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  position: relative;
}

.auth-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.devs {
  text-align: center;
}

.meet-devs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-img {
  width: 65px;
  height: 49px;
}

/* .auth-btn {
  color: #000;
  border-radius: 15.5px;
  background: #fff;
  padding: 7px 18px;
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 25px;
  letter-spacing: -.2px;
  cursor: pointer;
} */

.main-header {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.main-instruct {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

.main-p {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
}

.map {
  border: 3px #393F49;
}

ul.cities-list {
  list-style: none;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.bullet {
  width: 40px;
  height: 40px;
}

.crown-atlanta {
  height: 20px;
  width: 25px;
}

.city-wives {
  list-style: none;
}

.atlWivesList {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.atlWivesImg {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.bevWivesList {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.bevWivesImg {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.dalWivesList {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.dalWivesImg {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.jerseyWivesList {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.jerseyWivesImg {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.nycWivesList {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.nycWivesImg {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.ocWivesList {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.ocWivesImg {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.potWivesList {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.potWivesImg {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.slcWivesList {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}

.slcWivesImg {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-direction: column;
}